<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
      <h1> <%= todayDate %></h1>
      <ul>
        <li>buy food</li>
        <li>cook food</li>
        <li>eat Food</li>

      </ul>
      <form class="" action="/" method="post">
        <input type="text" name="newItem" >
        <input type="submit" name="submit" value="submit">
      </form>
  </body>
</html>
